- if params[:epic]&.key?('assignee_ids')
  = turbo_stream.replace 'epic-assignees' do
    = render 'shared/assignees/selected_users_turbo', resource: @epic, resource_type: 'epic', users: @epic.assignees, field_type: 'assignees', avatar_color: 'from-blue-400 to-blue-500', empty_icon: 'user-plus', empty_message: 'No assignees', can_edit: current_user&.can?(:update_issue, @epic), remove_url: remove_assignee_namespace_project_epic_path(@project.namespace.parent.full_path, @project.path, @epic)

- if params[:epic]&.key?('label_ids')
  = turbo_stream.replace 'epic-labels' do
    = render 'shared/labels/selected_labels_turbo', resource: @epic, resource_type: 'epic', labels: @epic.labels, selected_label_ids: @epic.label_ids.join(','), can_edit: current_user&.can?(:update_issue, @epic)

- if params[:epic]&.key?('parent_id')
  = turbo_stream.replace 'epic-parent' do
    = render 'shared/epics/selected_epic_turbo', resource: @epic, resource_type: 'epic', parent: @epic.parent, can_edit: current_user&.can?(:update_issue, @epic)