!= "#{@work_item.author.name} created #{@work_item_label.downcase} #{@reference_prefix}#{@work_item.iid}"

!= @work_item.title

- if @work_item.description.present?
  != @work_item.description

!= "View #{@work_item_label}: #{@target_url}"
