- if params[:issue]&.key?('assignee_ids')
  = turbo_stream.replace 'issue-assignees' do
    = render 'shared/assignees/selected_users_turbo', resource: @issue, resource_type: 'issue', users: @issue.assignees, field_type: 'assignees', avatar_color: 'from-blue-400 to-blue-500', empty_icon: 'user-plus', empty_message: 'No assignees', can_edit: current_user&.can?(:update_issue, @issue)

- if params[:issue]&.key?('label_ids')
  = turbo_stream.replace 'issue-labels' do
    = render 'shared/labels/selected_labels_turbo', resource: @issue, resource_type: 'issue', labels: @issue.labels, selected_label_ids: @issue.label_ids.join(','), can_edit: current_user&.can?(:update_issue, @issue)

- if params[:issue]&.key?('parent_id')
  = turbo_stream.replace 'issue-parent' do
    = render 'shared/epics/selected_epic_turbo', resource: @issue, resource_type: 'issue', parent: @issue.parent, can_edit: current_user&.can?(:update_issue, @issue)