- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Merge Request', path: merge_requests_path(@project) }, { label: "##{@merge_request.id}", path: merge_request_path(@merge_request)}]
  = render 'shared/breadcrumb', nodes: nodes

- content_for :mr_content do
  = render 'projects/files/diff'
= render 'detail'

- if current_user&.can?(:create_note, @merge_request)
  = render 'projects/merge_requests/review_bar', merge_request: @merge_request, draft_count: @draft_notes.size
