- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Merge Request', path: merge_requests_path(@project) }, { label: "##{@merge_request.id}", path: merge_request_path(@merge_request)}]
  = render 'shared/breadcrumb', nodes: nodes

- content_for :mr_content do
  %div{ class: 'flex gap-4 mt-8' }
    %div{ class: 'flex-1' }
      %div{ class: 'mb-6' }
        %h3{ class: 'text-lg font-semibold text-slate-900 mb-4' }= _('Description')
        %div{ class: 'prose prose-slate max-w-none' }
          - if @merge_request.description_html.present?
            .prose.prose-slate.max-w-none.markdown
              = @merge_request.description_html.html_safe
          - else
            %div{ class: 'text-slate-500 italic text-center py-8' }
              %div{ class: 'flex flex-col items-center gap-3' }
                = icon 'file-text', class: 'w-8 h-8 text-slate-300'
                %span= _('No description provided.')

      = render 'shared/item_links/linked_items', resource: @merge_request, create_url: namespace_project_merge_request_links_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path, @merge_request), search_url: search_links_namespace_project_merge_request_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path, @merge_request)

      = render 'shared/activities/timeline', activities: @activities, noteable: @merge_request

    %div{ class: 'w-64 space-y-6' }
      = render 'shared/assignees/user_selection_card', resource: @merge_request, resource_type: 'merge_request', users: @merge_request.assignees, field_type: 'assignees', title: 'Assignees', selected_user_ids: @merge_request.assignee_ids.join(','), avatar_color: 'from-blue-400 to-blue-500', empty_icon: 'user-plus', empty_message: 'No assignees', search_url: search_users_namespace_project_merge_requests_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path), update_url: namespace_project_merge_request_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path, @merge_request), can_edit: current_user&.can?(:update_merge_request, @merge_request)

      = render 'shared/assignees/user_selection_card', resource: @merge_request, resource_type: 'merge_request', users: @merge_request.reviewers, field_type: 'reviewers', title: 'Reviewers', selected_user_ids: @merge_request.reviewer_ids.join(','), avatar_color: 'from-emerald-400 to-emerald-500', empty_icon: 'eye', empty_message: 'No reviewers', search_url: search_users_namespace_project_merge_requests_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path), update_url: namespace_project_merge_request_path(@merge_request.target_project.namespace.parent.full_path, @merge_request.target_project.path, @merge_request), can_edit: current_user&.can?(:update_merge_request, @merge_request)

= render 'detail'
