- content_for :breadcrumb do
  - nodes = [*project_breadcrumb_nodes(@project), { label: 'Pipelines', path: pipelines_path(@project) }]
  = render 'shared/breadcrumb', nodes: nodes

%div{ class: 'w-full bg-white p-6' }
  %div{ class: 'w-full max-w-6xl mx-auto flex flex-col px-4' }

    %div{ class: 'flex justify-between items-center mb-6' }
      %div
        %h1{ class: 'text-2xl font-semibold text-gray-800' }
          = _('Pipelines for Project:')
          = @project.name
      - if current_user&.can?(:create_pipeline, @project)
        = link_to new_pipeline_path(@project), class: 'inline-flex items-center gap-2 px-4 py-2 bg-blue-600 text-white text-sm font-medium rounded-lg hover:bg-blue-700 transition-colors' do
          = icon 'play', class: 'w-4 h-4'
          = _('Run pipeline')

    = render 'shared/filters/pipelines_filters',
      url: pipelines_path(@project),
      clear_url: pipelines_path(@project),
      search_label: _('Search by SHA'),
      search_placeholder: _('e.g., abc123...'),
      statuses: @statuses,
      refs: @refs

    %div{ class: 'space-y-4' }
      = render 'pipelines'

      = render 'shared/pagination', collection: @pipelines, url_params: @pagination_params, turbo_frame: nil
